name: GitHub Pages
on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
jobs:
  deploy:
    # permissions:
    #   pages: write
    #   id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          submodules: true

      - name: Create Environment
        uses: mkyai/env-builder@v1.0.1
        with:
          secrets: ${{ toJson(secrets) }}
          variables: ${{ toJson(vars) }}
          
      - run: |
          cat .env 
          
      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build
        
      # - name: upload-pages
      #   uses: actions/upload-pages-artifact@v3.0.0
      #   with:
      #     # Path of the directory containing the static assets.
      #     path: dist/

      # - name: Deploy GitHub Pages site
      #   uses: actions/deploy-pages@v4.0.2
      #   with:
      #     token: ${{ github.token }}
      #     preview: false
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.9.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
          cname: ${{ secrets.VITE_CNAME }}
          # custom_headers: |
          #   /.well-known/apple-app-site-association: content-type=application/json
